.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.logo {
  position: absolute;
  top: 30px;
  left: 32px;
}

.title {
  position: absolute;
  top: 0;
  padding: 20px;
}

.captainTitle {
  position: absolute;
  top: 120px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
  justify-content: center;
  transform-style: preserve-3d;
}

.timer {
  position: absolute;
  bottom: 0;
  padding: 20px;
}

.left-side,
.right-side {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.left-side {
  left: 0;
}

.right-side {
  right: 0;
}

.button-placeholder {
  height: 36px; /* Change to the actual height of your button */
  width: 100%; /* Change to the actual width of your button */
  display: flex;
  flex-direction: column;
  align-items: "center";
  justify-content: "center";
}

.timesPulledTitle {
  position: absolute;
  top: -7%; /* This puts the element at the top of the card */
  left: 50%; /* This centers the element horizontally within the card */
  transform: translateX(-50%); /* This ensures the centering is correct even if the element's width changes */
  z-index: 1;
}
